1. Find out more about sequence objects using Python’s help facility. In the interpreter,
type help(str), help(list), and help(tuple). This will give you a full list of
the functions supported by each type. Some functions have special names flanked
with underscores; as the help documentation shows, each such function corresponds
to something more familiar. For example x.__getitem__(y) is just a longwinded
way of saying x[y].

2. Identify three operations that can be performed on both tuples and lists. Identify
three list operations that cannot be performed on tuples. Name a context where
using a list instead of a tuple generates a Python error.

In [1]:
import nltk
import re

In [4]:
# operations that can be performed on both tuples and lists

print([x for x in dir(list) if x in dir(tuple)], end = "")

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [9]:
l = [1, 2, 3]
t = (2, 3, 4)

l.count(1), t.count(2)

(1, 1)

In [6]:
# operations that can be performed on list, but not tuple

print([x for x in dir(list) if x not in dir(tuple)], end = "")

['__delitem__', '__iadd__', '__imul__', '__reversed__', '__setitem__', 'append', 'clear', 'copy', 'extend', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [11]:
# Using a list instead of tuple will generate error

# trying to use a list as a key in dictionary

a = ('hepp')
b = ['esss']

c = {a : 'N'}
d = {b : 's'}

TypeError: unhashable type: 'list'

In [12]:
hash(a), hash(b)

# tuples are hashable, but lists are not

TypeError: unhashable type: 'list'

3. Find out how to create a tuple consisting of a single item. There are at least two
ways to do this.

In [13]:
x = 1
type(x)

int

t = tuple([1])
type(t)

4. Create a list words = ['is', 'NLP', 'fun', '?']. Use a series of assignment
statements (e.g., words[1] = words[2]) and a temporary variable tmp to transform
this list into the list ['NLP', 'is', 'fun', '!']. Now do the same transformation
using tuple assignment.

In [16]:
words = ['is', 'NLP', 'fun', '?']

In [17]:
words[0], words[1], words[3] = words[1], words[0], '!'

In [18]:
words

['NLP', 'is', 'fun', '!']

6. Does the method for creating a sliding window of n-grams behave correctly for
the two limiting cases: n = 1 and n = len(sent)?

In [20]:
sent = ['The', 'dog', 'gave', 'John', 'the', 'newspaper']

In [21]:
n = 1
[sent[i:i+n] for i in range(len(sent)-n+1)]

[['The'], ['dog'], ['gave'], ['John'], ['the'], ['newspaper']]

In [22]:
n = len(sent)
[sent[i:i+n] for i in range(len(sent)-n+1)]

[['The', 'dog', 'gave', 'John', 'the', 'newspaper']]

7. We pointed out that when empty strings and empty lists occur in the condition
part of an if clause, they evaluate to False. In this case, they are said to be occurring
in a Boolean context. Experiment with different kinds of non-Boolean expressions
in Boolean contexts, and see whether they evaluate as True or False.

In [24]:
cands = [0, 1, -1, float('inf'), -float('inf'), float('NaN'), '0', '1', "", [],
        'nkdeioe', 3.1415, None, [None], tuple([]), tuple([None])]

for c in cands:
    if c: 
        print("{} evaluates as True".format(c))
    else:
        print("{} evaluates as False".format(c))
        
# with the exception of 0, all numbers evaluate as true. even float('inf'), float('-inf'), float("NaN")
# all string evaluate are true, except for empty string.
# empty list and empty tuples will evaluate as false
# none evaluates as false, but none in a list or a tuple evaluates as true.

0 evaluates as False
1 evaluates as True
-1 evaluates as True
inf evaluates as True
-inf evaluates as True
nan evaluates as True
0 evaluates as True
1 evaluates as True
 evaluates as False
[] evaluates as False
nkdeioe evaluates as True
3.1415 evaluates as True
None evaluates as False
[None] evaluates as True
() evaluates as False
(None,) evaluates as True

8. Use the inequality operators to compare strings, e.g., 'Monty' < 'Python'. What
happens when you do 'Z' < 'a'? Try pairs of strings that have a common prefix,
e.g., 'Monty' < 'Montague'. Read up on “lexicographical sort” in order to understand
what is going on here. Try comparing structured objects, e.g., ('Monty', 1)
< ('Monty', 2). Does this behave as expected?

In [25]:
'Monty' < 'Python'

True

In [27]:
'Z' < 'a'

# uppercase letters are considered before lowercase one

True

In [28]:
'Monty' < 'Montague'

False

In [30]:
('Monty', 1) < ('Monty', 2)

# the first element in both tuples are the same. the second element is compared.

True

9. Write code that removes whitespace at the beginning and end of a string, and
normalizes whitespace between words to be a single-space character.
a. Do this task using split() and join().
b. Do this task using regular expression substitutions.

In [32]:
sent = "    this    is   a really inconsistent          use  of     whitespace.      "

' '.join(sent.split())

'this is a really inconsistent use of whitespace.'

In [41]:
sent = "    this    is   a really inconsistent          use  of     whitespace.      "

sent = re.sub(r"\s+", ' ', sent)
sent = re.sub(r"^\s+|\s+$", '', sent)

In [42]:
sent

'this is a really inconsistent use of whitespace.'

10. Write a program to sort words by length. Define a helper function cmp_len which
uses the cmp comparison function on word lengths.

In [43]:
def sort_words_by_length(text):
    return [w for _, w in sorted([(len(w), w) for w in text.split()])]

In [44]:
sent = 'the words in this sentence are mostly of unique character lengths'

print(sort_words_by_length(sent), end = '')

['in', 'of', 'are', 'the', 'this', 'words', 'mostly', 'unique', 'lengths', 'sentence', 'character']

11. Create a list of words and store it in a variable sent1. Now assign sent2 =
sent1. Modify one of the items in sent1 and verify that sent2 has changed.

a. Now try the same exercise, but instead assign sent2 = sent1[:]. Modify
sent1 again and see what happens to sent2. Explain.

b. Now define text1 to be a list of lists of strings (e.g., to represent a text consisting
of multiple sentences). Now assign text2 = text1[:], assign a new value to
one of the words, e.g., text1[1][1] = 'Monty'. Check what this did to text2.
Explain.

c. Load Python’s deepcopy() function (i.e., from copy import deepcopy),

In [47]:
sent = "Mairzy doats and dozy doats and liddle lamzy divey " \
        "A kiddley divey too, wouldn't you?"
sent1 = sent.split()
print(sent1, end = "")

['Mairzy', 'doats', 'and', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey', 'A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']

In [48]:
sent2 = sent1
sent2[2] = 'or'

In [50]:
print(sent1, end = "")

['Mairzy', 'doats', 'or', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey', 'A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']

In [52]:
sent2 = sent1[:]
print(sent2, end = '')

['Mairzy', 'doats', 'or', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey', 'A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']

In [54]:
sent2[1] = 'what'
print(sent2, end = '')

['Mairzy', 'what', 'or', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey', 'A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']

In [55]:
print(sent1, end = '')

['Mairzy', 'doats', 'or', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey', 'A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']

In [56]:
sentA = "Mairzy doats and dozy doats and liddle lamzy divey"
sentB = "A kiddley divey too, wouldn't you?"

text1 = [sentA.split(), sentB.split()]
text2 = text1[:]

text1[1][1] = 'Monty'

print(text2, end = '')

[['Mairzy', 'doats', 'and', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey'], ['A', 'Monty', 'divey', 'too,', "wouldn't", 'you?']]

In [58]:
sentA = "Mairzy doats and dozy doats and liddle lamzy divey"
sentB = "A kiddley divey too, wouldn't you?"

text1 = [sentA.split(), sentB.split()]
text2 = [text1[0][:], text1[1][:]]

text1[1][1] = 'Monty'

print(text2, end = '')

# if we explicitely make shallow copies of the lists in the list of lists, then the changeds will not be replicated

[['Mairzy', 'doats', 'and', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey'], ['A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']]

In [59]:
from copy import deepcopy

In [60]:
sent = "Mairzy doats and dozy doats and liddle lamzy divey " \
        "A kiddley divey too, wouldn't you?"
sent1 = sent.split()
sent2 = deepcopy(sent1)
sent1[0] = "Mares"
print(sent2, end = '')

['Mairzy', 'doats', 'and', 'dozy', 'doats', 'and', 'liddle', 'lamzy', 'divey', 'A', 'kiddley', 'divey', 'too,', "wouldn't", 'you?']

12. Initialize an n-by-m list of lists of empty strings using list multiplication, e.g.,
word_table = [[''] * n] * m. What happens when you set one of its values, e.g.,
word_table[1][2] = "hello"? Explain why this happens. Now write an expression
using range() to construct a list of lists, and show that it does not have this problem.

In [2]:
n = 5
m = 6
word_table = [[''] * n] * m

# we have a copy of a list containing sublitsts. 
# when we make a change to one of the sublists, the copy
# is replicated in all of the lists which have been
# created by copying it.

In [3]:
word_table

[['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', '']]

In [4]:
word_table[1][2] = "hello"

In [5]:
word_table

[['', '', 'hello', '', ''],
 ['', '', 'hello', '', ''],
 ['', '', 'hello', '', ''],
 ['', '', 'hello', '', ''],
 ['', '', 'hello', '', ''],
 ['', '', 'hello', '', '']]

In [6]:
word_table = [['' for i in range(n)] for j in range(m)]

In [7]:
word_table

[['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', '']]

In [8]:
word_table[1][2] = "hello"

In [9]:
word_table

# in this case, we are creating a brand new empty string for each 
# of the iterations through n, and likewise through.
# as the strings are not copies of each other, changes in one are
# not reflected in the others.

[['', '', '', '', ''],
 ['', '', 'hello', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', ''],
 ['', '', '', '', '']]

13. Write code to initialize a two-dimensional array of sets called word_vowels and
process a list of words, adding each word to word_vowels[l][v] where l is the length
of the word and v is the number of vowels it contains.

In [12]:
def find_length_word_number_vowels(text):
    
    word_vowels = [set(), set()]
    
    for t in text:
        word_vowels[0].add(len(t))
        word_vowels[1].add(sum([1 for i in t if i.lower() in 'aeiou']))
    
    return word_vowels

In [15]:
test = ["supercalifragilisticexpialidocious", "eye", 
        "Hawai'i", "draft"]
find_length_word_number_vowels(test)

# the return order is sorted.
# the order does not necessarily match the order of the list

[{3, 5, 7, 34}, {1, 2, 4, 16}]

In [18]:
def find_length_word_number_vowels_list(text):
    
    word_vowels = [[], []]
    
    for t in text:
        word_vowels[0].append(len(t))
        word_vowels[1].append(sum([1 for i in t if i.lower() in 'aeiou']))
    
    return word_vowels

In [19]:
test = ["supercalifragilisticexpialidocious", "eye", 
        "Hawai'i", "draft"]
find_length_word_number_vowels_list(test)

[[34, 3, 7, 5], [16, 2, 4, 1]]

14. Write a function novel10(text) that prints any word that appeared in the last
10% of a text that had not been encountered earlier.

In [29]:
def novel10(wordlist):
    ptr = int(len(wordlist) * 0.9)
    words = set()
    for i in range(ptr):
        words.add(wordlist[i])
    res = []
    for i in range(ptr, len(wordlist)):
        if wordlist[i] not in words:
            res.append(wordlist[i])
    return res

In [22]:
from urllib import request
from nltk import word_tokenize

In [23]:
url = 'http://www.gutenberg.org/cache/epub/42324/pg42324.txt'

In [24]:
frank = request.urlopen(url).read().decode('utf8')

In [25]:
frank = word_tokenize(frank)[115:90732]

In [30]:
print(novel10(frank)[:20])

['adjuration', 'approved', 'furies', 'choked', 're-echoed', 'Surely', 'Guided', 'Mediterranean', 'Black', 'Amidst', 'Tartary', 'evaded', 'snows', 'Cold', 'murmured', 'extricate', 'repast', 'inspirited', 'invoked', 'bedim']

15. Write a program that takes a sentence expressed as a single string, splits it, and
counts up the words. Get it to print out each word and the word’s frequency, one
per line, in alphabetical order.

In [33]:
def print_words_and_frequency(text): 
    tokens = word_tokenize(text)
    words = [t.lower() for t in tokens if t.isalpha()]
    ordered = sorted(set([(w, v) for w, v in nltk.FreqDist(words).items()]))
    
    width = max([len(w) for w, _ in ordered]) + 2
    width_counts = max([len(str(v)) for _, v in ordered])
    
    for w, v in ordered:
        print("{}:{}{:>{}}".format(w, ' ' * (width - len(w)),
                                    v, width_counts))

In [34]:
test = "If police police police police, who polices the police police? " \
       "Police police police police police police."

print_words_and_frequency(test)

if:        1
police:   12
polices:   1
the:       1
who:       1

16. Read up on Gematria, a method for assigning numbers to words, and for mapping
between words having the same number to discover the hidden meaning of texts
(http://en.wikipedia.org/wiki/Gematria, http://essenes.net/gemcal.htm).

a. Write a function gematria() that sums the numerical values of the letters of a
word, according to the letter values in letter_vals:

letter_vals = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':80, 'g':3, 'h':8,
... 'i':10, 'j':10, 'k':20, 'l':30, 'm':40, 'n':50, 'o':70, 'p':80, 'q':100,
... 'r':200, 's':300, 't':400, 'u':6, 'v':6, 'w':800, 'x':60, 'y':10, 'z':7}

b. Process a corpus (e.g., nltk.corpus.state_union) and for each document,
count how many of its words have the number 666.

c. Write a function decode() to process a text, randomly replacing words with
their Gematria equivalents, in order to discover the “hidden meaning” of the
text.

In [36]:
letter_vals = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':80, 'g':3, 'h':8,
               'i':10, 'j':10, 'k':20, 'l':30, 'm':40, 'n':50, 'o':70, 
               'p':80, 'q':100, 'r':200, 's':300, 't':400, 'u':6,
               'v':6, 'w':800, 'x':60, 'y':10, 'z':7}

In [43]:
def gematria(word, vals = letter_vals):
    return sum([vals[i.lower()] for i in word if i in vals])

In [44]:
gematria('word')

1074

In [45]:
su = nltk.corpus.state_union

In [46]:
width = max(len(u[5:-4]) for u in su.fileids())

In [47]:
devil_words = [sum([1 for w in su.words(u) if gematria(w) == 666]) for u in su.fileids()]

In [50]:
for u, w in zip(su.fileids(), devil_words):
    print(u[:-4], u[5:-4] + ':' + " " * (width - len(u[5:-4])),
         "{:>2}".format(w))

1945-Truman Truman:      2
1946-Truman Truman:     20
1947-Truman Truman:      1
1948-Truman Truman:      3
1949-Truman Truman:      2
1950-Truman Truman:      1
1951-Truman Truman:      0
1953-Eisenhower Eisenhower:  1
1954-Eisenhower Eisenhower:  6
1955-Eisenhower Eisenhower:  5
1956-Eisenhower Eisenhower:  1
1957-Eisenhower Eisenhower:  2
1958-Eisenhower Eisenhower:  5
1959-Eisenhower Eisenhower:  1
1960-Eisenhower Eisenhower:  5
1961-Kennedy Kennedy:     0
1962-Kennedy Kennedy:     4
1963-Johnson Johnson:     0
1963-Kennedy Kennedy:     3
1964-Johnson Johnson:     1
1965-Johnson-1 Johnson-1:   0
1965-Johnson-2 Johnson-2:   0
1966-Johnson Johnson:     0
1967-Johnson Johnson:     2
1968-Johnson Johnson:     3
1969-Johnson Johnson:     0
1970-Nixon Nixon:       0
1971-Nixon Nixon:       1
1972-Nixon Nixon:       0
1973-Nixon Nixon:       1
1974-Nixon Nixon:       0
1975-Ford Ford:        0
1976-Ford Ford:        3
1977-Ford Ford:        0
1978-Carter Carter:      1
1979-Carter Carter:      2
1980-Carter Carter:      0
1981-Reagan Reagan:      4
1982-Reagan Reagan:      0
1983-Reagan Reagan:      2
1984-Reagan Reagan:      1
1985-Reagan Reagan:      1
1986-Reagan Reagan:      1
1987-Reagan Reagan:      1
1988-Reagan Reagan:      2
1989-Bush Bush:        2
1990-Bush Bush:        2
1991-Bush-1 Bush-1:      0
1991-Bush-2 Bush-2:      0
1992-Bush Bush:        3
1993-Clinton Clinton:     1
1994-Clinton Clinton:     2
1995-Clinton Clinton:     1
1996-Clinton Clinton:     1
1997-Clinton Clinton:     1
1998-Clinton Clinton:     4
1999-Clinton Clinton:     1
2000-Clinton Clinton:     3
2001-GWBush-1 GWBush-1:    1
2001-GWBush-2 GWBush-2:    0
2002-GWBush GWBush:      0
2003-GWBush GWBush:      3
2004-GWBush GWBush:      2
2005-GWBush GWBush:      2
2006-GWBush GWBush:      0

In [54]:
import random

In [55]:
def join_punctuation(text, characters = ["'", '’', ')', ',', '.', ':', ';', '?', '!', ']', "''"]):
    text = iter(text)
    current = next(text)
    
    for nxt in text:
        if nxt in characters:
            current += nxt
        else:
            yield current
            current = nxt
    yield current

In [56]:
def decode(text, n = 10):
    if type(text) == str:
        cp = word_tokenize(text)
    elif type(text) == list:
        cp = text[:]
    else:
        cp = list(text[:])
    
    for i in range(len(cp)):
        if random.random() <= n/100:
            cp[i] = str(gematria(cp[i]))
    return ' '.join(join_punctuation(cp))

In [57]:
decode("This is just a test to see if my code will work", 25)

'This is just a 1105 to see 90 50 code 870 work'

In [58]:
decode(su.words('2006-GWBush.txt'), 33)[:1000]

"PRESIDENT 0 W 0 0' S ADDRESS BEFORE A JOINT SESSION OF 0 CONGRESS ON THE 0 0 THE UNION January 0, 2006 THE PRESIDENT 0 79 you 61. Mr. Speaker, 18 President Cheney, members of Congress 0 592 of the Supreme Court and 648 corps 0 distinguished guests 0 and fellow 785: 85 276 nation lost a beloved, graceful, courageous woman 878 73 America 470 its 273 ideals and carried on a noble dream 0 541 we 206 comforted by the hope 150 a glad reunion 1218 413 husband 878 1101 taken so long 74 0 and we are 725 350 the good life 150 Coretta 873 63 0 ( Applause .) 974 283 W. Bush 909 to applause during his State of 413 Union Address at the Capitol 0 Tuesday, 51. 0, 2006 0 White 381 photo by Eric 707 time I 0 40 485 to 718 1216, I 0 m humbled 12 413 privilege, and mindful of the history 805 0 11 360 together. We 20 626 265 718 Capitol dome in 905 of national 429 and national achievement. We 20 served 259 through 125 of the most consequential periods of our history -- and 410 has been 50 honor 470 serve w"

In [59]:
decode(nltk.corpus.gutenberg.words('austen-emma.txt'), 30)[:1000]

'0 Emma by Jane Austen 1816] 0 0 0 I Emma 533, handsome, clever, 55 rich 0 with 1 comfortable home and happy disposition 0 seemed 470 unite 415 150 the best 1000 150 existence 0 55 13 lived 296 1665 - 125 years in the world with 221 little to 1519 or vex her. She was the 844 of the two 927 of a 810 affectionate 0 indulgent father; and had, 60 consequence of her sister 0 s 460 0 62 mistress 150 his 389 390 a 221 246 period. Her mother had died 540 long ago for her 470 have more than 51 indistinct remembrance of her 1114; 55 213 place 13 62 supplied by an excellent 961 301 governess 0 878 had fallen 875 short of a mother in affection. Sixteen years 13 Miss Taylor 62 in 200. 533 0 s family, less 301 1 governess than a friend, very fond of both 927, but particularly of 81 0 1265 _them_ it was more 413 intimacy of sisters. Even before Miss Taylor had 318 to hold the nominal office of 939 0 the mildness of 213 temper 13 hardly allowed 213 to impose any restraint; and the shadow of authority b'