## Exercise 1: Chipotle

### 1. Import Necessary Libraries

In [145]:
import pandas as pd
import numpy as np
import math

### 2. Import Dataset

In [11]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [12]:
chipo = pd.read_csv(url, sep = '\t')

**tsv file: tab separated values. error will occur without "sep = '\t'"**

### 3. See the First 10 Entries

In [13]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4. The Number of Observations in the Dataset

In [15]:
no_obs = len(chipo)
no_obs

4622

### 5. The Number of Columns in the Dataset

In [19]:
no_cols = len(chipo.loc[0])
no_cols

5

In [20]:
chipo.shape

(4622, 5)

### 6. Print Column Names of the Dataset

In [24]:
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

### 7. How is the Dataset Indexed?

In [26]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 8. Most-ordered Item

In [60]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [35]:
chipo.groupby('item_name').sum('quantity').sort_values(by = 'quantity', ascending = False).iloc[0]

order_id    713926
quantity       761
Name: Chicken Bowl, dtype: int64

### 9. Most-ordered Item from Choice-Description

In [154]:
chipo['choice_description'] = chipo['choice_description'].fillna("")

In [151]:
def str_2_nested_list(l):
    if len(l) == 0:
        return []
    final_list = []
    stack = [final_list]
    word = ""
    l = str(l)
    for ch in l:
        cur_list = stack[-1]
        if ch == '[':
            new_list = []
            cur_list.append(new_list)
            stack.append(new_list)
        elif ch == ']':
            stack.pop()
        elif ch == ',':
            cur_list.append(word.strip())
            word = ""
        else:
            word += ch
    return final_list[0]

In [144]:
str_2_nested_list(l), type(str_2_nested_list(l))

([], list)

In [152]:
chipo['desc_list'] = chipo['choice_description'].apply(str_2_nested_list)

In [153]:
chipo

,order_id,quantity,item_name,choice_description,item_price,desc_list
0,1,1,Chips and Fresh Tomato Salsa,,$2.39,[]
1,1,1,Izze,[Clementine],$3.39,[]
2,1,1,Nantucket Nectar,[Apple],$3.39,[]
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,[]
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ..."
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese..."
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,"[Fresh Tomato Salsa, [Fajita Vegetables]]"
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto..."

In [156]:
l = chipo.loc[4, 'desc_list']

In [157]:
l

['Tomatillo-Red Chili Salsa (Hot)', ['Black Beans', 'Rice', 'Cheese']]

In [158]:
def flatten_nested_list(l):
    final_list = []
    if not l or len(l) == 0:
        return final_list
    for i in l:
        if type(i) == list:
            final_list.extend(flatten_nested_list(i))
        else:
            final_list.append(i)
    return final_list

In [160]:
flatten_nested_list(l), flatten_nested_list(chipo.loc[0, 'desc_list'])

(['Tomatillo-Red Chili Salsa (Hot)', 'Black Beans', 'Rice', 'Cheese'], [])

In [161]:
chipo['desc_item_list'] = chipo['desc_list'].apply(flatten_nested_list)

In [162]:
chipo_explode = chipo.explode('desc_item_list')

In [163]:
chipo_explode.head(20)

,order_id,quantity,item_name,choice_description,item_price,desc_list,desc_item_list
0,1,1,Chips and Fresh Tomato Salsa,,$2.39,[],NaN
1,1,1,Izze,[Clementine],$3.39,[],NaN
2,1,1,Nantucket Nectar,[Apple],$3.39,[],NaN
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,[],NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",Tomatillo-Red Chili Salsa (Hot)
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",Black Beans
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",Rice
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",Cheese
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",Fresh Tomato Salsa (Mild)
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",Rice
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",Cheese
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",Sour Cream
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",Guacamole
6,3,1,Side of Chips,,$1.69,[],NaN
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",Tomatillo Red Chili Salsa
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",Fajita Vegetables
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",Black Beans
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",Pinto Beans
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",Cheese
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",Sour Cream

In [165]:
chipo_explode.groupby('desc_item_list').sum('quantity').sort_values(by = 'quantity', ascending = False)

                                      order_id  quantity
desc_item_list
Rice                                   2115904      2387
Cheese                                 1836820      2101
Sour Cream                             1237713      1410
Black Beans                            1228155      1373
Fresh Tomato Salsa                     1043078      1099
Fajita Vegetables                       682622       723
Guacamole                               562700       605
Pinto Beans                             536446       598
Roasted Chili Corn Salsa                422463       451
Fresh Tomato Salsa (Mild)               294717       372
Tomatillo Red Chili Salsa               289066       329
Fajita Veggies                          243105       301
Roasted Chili Corn Salsa (Medium)       225191       283
Tomatillo-Red Chili Salsa (Hot)         209920       270
Tomatillo Green Chili Salsa             203753       232
Lettuce                                 178203       193
Tomatillo-Green Chili Salsa (Medium)    103009       135
Fresh Tomato (Mild)                      27416        33
Salsa                                     1550         6
Tomatillo Green Chili (Medium)            2934         4
Adobo-Marinated and Grilled Chicken       1643         4
Roasted Chili Corn (Medium)               3497         3
Adobo-Marinated and Grilled Steak          905         3
Cilantro-Lime Rice                         710         3
Tomatillo Red Chili (Hot)                 2632         3
Braised Carnitas                           193         3
White Rice                                1201         3
Braised Barbacoa                           431         2
Brown Rice                                 575         1
Vegetarian Black Beans                     214         1

### 10. Number of Items Ordered in Total

In [166]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,desc_list,desc_item_list
0,1,1,Chips and Fresh Tomato Salsa,,$2.39,[],[]
1,1,1,Izze,[Clementine],$3.39,[],[]
2,1,1,Nantucket Nectar,[Apple],$3.39,[],[]
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,[],[]
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...","[Tomatillo-Red Chili Salsa (Hot), Black Beans,..."

In [167]:
sum(chipo['quantity'])

4972

### 11. Turn Price to Float

In [171]:
chipo["item_price"].dtype

dtype('O')

In [174]:
def price_2_float(p):
    return float(p[1:])

In [175]:
price_2_float(chipo["item_price"][0])

2.39

In [176]:
chipo["item_price_float"] = chipo["item_price"].apply(price_2_float)

In [177]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,desc_list,desc_item_list,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,,$2.39,[],[],2.39
1,1,1,Izze,[Clementine],$3.39,[],[],3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,[],[],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,[],[],2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...","[Tomatillo-Red Chili Salsa (Hot), Black Beans,...",16.98

In [178]:
chipo["item_price_float"].dtype

dtype('float64')

### 12. Total Revenue

In [180]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price_float']

In [184]:
total_revenue = sum(chipo['revenue'])
total_revenue

39237.020000000055

### 13. Total Orders

In [187]:
total_orders = chipo['order_id'].nunique()
total_orders

1834

### 14. Average Revenue per Order

In [190]:
avg_rev_per_order = total_revenue/total_orders
avg_rev_per_order

21.3942311886587

### 15. The Number of Different Items Sold

In [193]:
total_unique_items = chipo['item_name'].nunique()
total_unique_items

50