In [1]:
import pandas as pd
import numpy as np

## Series with Multi-Index

In [3]:
data = pd.Series([56, 78, 99, 56, 88, 59, 100, 57, 91],
                index = [['Team1', 'Team1','Team1','Team2','Team2','Team2','Team3','Team3','Team3'],
                        ['player1', 'player2','player3','player1','player2',
                         'player3','player1','player2','player3']],
                name = 'player_score')

In [4]:
data

Team1  player1     56
       player2     78
       player3     99
Team2  player1     56
       player2     88
       player3     59
Team3  player1    100
       player2     57
       player3     91
Name: player_score, dtype: int64

In [5]:
data.index

MultiIndex([('Team1', 'player1'),
            ('Team1', 'player2'),
            ('Team1', 'player3'),
            ('Team2', 'player1'),
            ('Team2', 'player2'),
            ('Team2', 'player3'),
            ('Team3', 'player1'),
            ('Team3', 'player2'),
            ('Team3', 'player3')],
           )

In [6]:
data['Team1': 'Team2']

Team1  player1    56
       player2    78
       player3    99
Team2  player1    56
       player2    88
       player3    59
Name: player_score, dtype: int64

#### Multi-index behaves differently with the loc and iloc function. Level 0 is treated as a row and Level 1 is treated as a column.

In [7]:
data.loc[:, 'player1']

Team1     56
Team2     56
Team3    100
Name: player_score, dtype: int64

In [8]:
data.loc['Team1', 'player1']

56

## Data frame with Multi-Index

In [11]:
df = {"name" :["Jack", "Fatima", "Salman", "Sahil", "Noureen", "Hamza"],
      "rank" :[1, 2, 1, 2, 1, 2],
      "city" :["Khi", "Khi", "Isb", "Isb", "Lhr", "Lhr"],
      "CS_rating" : [21, 56, 34, 45, 24, 34],
      "Maths_rating" : [76, 45, 56, 34, 234, 45]}

df = pd.DataFrame(df)
df

      name  rank city  CS_rating  Maths_rating
0     Jack     1  Khi         21            76
1   Fatima     2  Khi         56            45
2   Salman     1  Isb         34            56
3    Sahil     2  Isb         45            34
4  Noureen     1  Lhr         24           234
5    Hamza     2  Lhr         34            45

In [12]:
df.set_index(['city', 'rank'], inplace = True)

In [13]:
df

              name  CS_rating  Maths_rating
city rank
Khi  1        Jack         21            76
     2      Fatima         56            45
Isb  1      Salman         34            56
     2       Sahil         45            34
Lhr  1     Noureen         24           234
     2       Hamza         34            45

In [14]:
df.index

MultiIndex([('Khi', 1),
            ('Khi', 2),
            ('Isb', 1),
            ('Isb', 2),
            ('Lhr', 1),
            ('Lhr', 2)],
           names=['city', 'rank'])

In [15]:
df.loc['Khi', 1]

name            Jack
CS_rating         21
Maths_rating      76
Name: (Khi, 1), dtype: object

#### When we have multi-index, we can use stack and unstack methods which returns a reshaped data frame.

In [20]:
df.unstack()

         name         CS_rating     Maths_rating
rank        1       2         1   2            1   2
city
Isb    Salman   Sahil        34  45           56  34
Khi      Jack  Fatima        21  56           76  45
Lhr   Noureen   Hamza        24  34          234  45

In [21]:
df.unstack().columns

MultiIndex([(        'name', 1),
            (        'name', 2),
            (   'CS_rating', 1),
            (   'CS_rating', 2),
            ('Maths_rating', 1),
            ('Maths_rating', 2)],
           names=[None, 'rank'])

In [22]:
df.sort_index(level=0)

              name  CS_rating  Maths_rating
city rank
Isb  1      Salman         34            56
     2       Sahil         45            34
Khi  1        Jack         21            76
     2      Fatima         56            45
Lhr  1     Noureen         24           234
     2       Hamza         34            45

In [23]:
df.sort_index(level=1)

              name  CS_rating  Maths_rating
city rank
Isb  1      Salman         34            56
Khi  1        Jack         21            76
Lhr  1     Noureen         24           234
Isb  2       Sahil         45            34
Khi  2      Fatima         56            45
Lhr  2       Hamza         34            45

In [24]:
file_path = '/Users/jiashu/Downloads/WordsByCharacter.csv'

In [25]:
df = pd.read_csv(file_path)

In [26]:
df.head()

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214

In [28]:
df.index.names

FrozenList([None])

In [54]:
multi = df.set_index(['Film', 'Chapter', 'Race', 'Character'])

In [55]:
multi.index.names

FrozenList(['Film', 'Chapter', 'Race', 'Character'])

In [35]:
multi.index.values[:10]

array([('The Fellowship Of The Ring', '01: Prologue', 'Bilbo', 'Hobbit'),
       ('The Fellowship Of The Ring', '01: Prologue', 'Elrond', 'Elf'),
       ('The Fellowship Of The Ring', '01: Prologue', 'Galadriel', 'Elf'),
       ('The Fellowship Of The Ring', '01: Prologue', 'Gollum', 'Gollum'),
       ('The Fellowship Of The Ring', '02: Concerning Hobbits', 'Bilbo', 'Hobbit'),
       ('The Fellowship Of The Ring', '03: The Shire', 'Bilbo', 'Hobbit'),
       ('The Fellowship Of The Ring', '03: The Shire', 'Frodo', 'Hobbit'),
       ('The Fellowship Of The Ring', '03: The Shire', 'Gandalf', 'Ainur'),
       ('The Fellowship Of The Ring', '03: The Shire', 'Hobbit Kids', 'Hobbit'),
       ('The Fellowship Of The Ring', '03: The Shire', 'Hobbits', 'Hobbit')],
      dtype=object)

In [36]:
multi.loc[('The Fellowship Of The Ring', '01: Prologue'), :]

/var/folders/hz/qyzbs8kd6dl2nctjx5cgg9mm0000gn/T/ipykernel_4722/3360084461.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  multi.loc[('The Fellowship Of The Ring', '01: Prologue'), :]

                  Words
Character Race
Bilbo     Hobbit      4
Elrond    Elf         5
Galadriel Elf       460
Gollum    Gollum     20

In [38]:
multi.loc[('The Fellowship Of The Ring', slice(None), slice(None), 'Elf'), :].head(3)

                                                                  Words
Film                       Chapter                Character Race
The Fellowship Of The Ring 01: Prologue           Elrond    Elf       5
                                                  Galadriel Elf     460
                           21: Flight To The Ford Arwen     Elf     131

In [39]:
multi.loc[('The Two Towers', slice(None), ['Gandalf','Saruman'], slice(None)), :]

                                                                                  Words
Film           Chapter                                           Character Race
The Two Towers 01: The Foundations Of Stone                      Gandalf   Ainur     39
               15: The White Rider                               Gandalf   Ainur    298
               17: The Heir Of Númenor                           Gandalf   Ainur    226
               20: The King Of The Golden Hall                   Gandalf   Ainur    151
               22: Simbelmynë on the Burial Mounds               Gandalf   Ainur     28
               23: The King's Decision                           Gandalf   Ainur    165
               58: Forth Eorlingas                               Gandalf   Ainur     21
               65: The Battle For Middle Earth Is About To Begin Gandalf   Ainur     36
               06: The Burning of the Westfold                   Saruman   Ainur    187
               25: The Ring Of Barahir                           Saruman   Ainur     68
               27: Exodus From Edoras                            Saruman   Ainur      4
               36: Isengard Unleashed                            Saruman   Ainur     50

In [40]:
multi.xs('Isildur', level = 'Character').sum()

Words    1
dtype: int64

In [41]:
multi.xs('Isildur', level = 'Character')

                                                          Words
Film                       Chapter                  Race
The Fellowship Of The Ring 24: The Fate Of The Ring Men       1

In [58]:
df

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214
...,...,...,...,...,...
726,The Return Of The King,76: The Grey Havens,Elrond,Elf,6
727,The Return Of The King,76: The Grey Havens,Frodo,Hobbit,132
728,The Return Of The King,76: The Grey Havens,Galadriel,Elf,17
729,The Return Of The King,76: The Grey Havens,Gandalf,Ainur,42
730,The Return Of The King,76: The Grey Havens,Sam,Hobbit,14

In [63]:
pivoted = df.pivot_table(
    index = ['Race', 'Character'],
    columns = 'Film',
    aggfunc = 'sum',
    margins = True,
    margins_name= 'all_films',
    fill_value = 0
).sort_index()

In [64]:
pivoted

                                                                       Chapter  \
Film                                                The Fellowship Of The Ring
Race      Character
Ainur     Gandalf            03: The Shire04: Very Old Friends05: A Long Ex...
          Saruman            12: Saruman The White18: The Spoiling Of Iseng...
          Voice Of Sauron                         18: The Spoiling Of Isengard
          Voice Of The Ring  15: At The Sign of the Prancing Pony27: The Co...
Dead      King Of The Dead                                                   0
...                                                                        ...
Orc       Shagrat                                                            0
          Snaga                                                              0
          Ugluk                                                              0
          Uruk-hai                                                           0
all_films                    01: Prologue01: Prologue01: Prologue01: Prolog...

                                                                                \
Film                                                    The Return Of The King
Race      Character
Ainur     Gandalf            03: The Road To Isengard04: The Voice Of Sarum...
          Saruman                                     04: The Voice Of Saruman
          Voice Of Sauron                                    67: The Last Move
          Voice Of The Ring                                                  0
Dead      King Of The Dead        35: The Paths Of The Dead55: Oaths Fulfilled
...                                                                        ...
Orc       Shagrat            43: The Choices Of Master Samwise Gamgee58: Th...
          Snaga                                                              0
          Ugluk                                                              0
          Uruk-hai                                                           0
all_films                    01: The Finding Of The Ring01: The Finding Of ...

                                                                                \
Film                                                            The Two Towers
Race      Character
Ainur     Gandalf            01: The Foundations Of Stone15: The White Ride...
          Saruman            06: The Burning of the Westfold25: The Ring Of...
          Voice Of Sauron                                                    0
          Voice Of The Ring                                                  0
Dead      King Of The Dead                                                   0
...                                                                        ...
Orc       Shagrat                                                            0
          Snaga                                     34: The Wolves Of Isengard
          Ugluk                      04: The Uruk-Hai10: Night Camp At Fangorn
          Uruk-hai                                   10: Night Camp At Fangorn
all_films                    01: The Foundations Of Stone01: The Foundation...

                                                                                \
Film                                                                 all_films
Race      Character
Ainur     Gandalf            03: The Shire04: Very Old Friends05: A Long Ex...
          Saruman            12: Saruman The White18: The Spoiling Of Iseng...
          Voice Of Sauron        18: The Spoiling Of Isengard67: The Last Move
          Voice Of The Ring  15: At The Sign of the Prancing Pony27: The Co...
Dead      King Of The Dead        35: The Paths Of The Dead55: Oaths Fulfilled
...                                                                        ...
Orc       Shagrat            43: The Choices Of Master Samwise Gamgee58: Th...
          Snaga                                     34: The Wolves Of Isengard
          Ugluk                      04: The Uruk-Hai10: Night Camp At Fangorn
          Uruk-hai                                   10: Night Camp At Fangorn
all_films                    01: Prologue01: Prologue01: Prologue01: Prolog...

                                                 Words                         \
Film                        The Fellowship Of The Ring The Return Of The King
Race      Character
Ainur     Gandalf                                 2360                   1504
          Saruman                                  480                    301
          Voice Of Sauron                            7                      2
          Voice Of The Ring                         34                      0
Dead      King Of The Dead                           0                     60
...                                                ...                    ...
Orc       Shagrat                                    0                     90
          Snaga                                      0                      0
          Ugluk                                      0                      0
          Uruk-hai                                   0                      0
all_films                                        11225                   9575


Film                        The Two Towers all_films
Race      Character
Ainur     Gandalf                      964      4828
          Saruman                      309      1090
          Voice Of Sauron                0         9
          Voice Of The Ring              0        34
Dead      King Of The Dead               0        60
...                                    ...       ...
Orc       Shagrat                        0        90
          Snaga                         10        10
          Ugluk                         84        84
          Uruk-hai                      13        13
all_films                            11169     31969

[75 rows x 8 columns]

In [66]:
order = [('Words', 'The Fellowship Of The Ring'),
         ('Words', 'The Two Towers'),
         ('Words', 'The Return Of The King'), 
         ('Words', 'all_films')]

In [67]:
pivoted = pivoted.sort_values(by = ('Words', 'all_films'), ascending = False)

In [68]:
pivoted

                                                                      Chapter  \
Film                                               The Fellowship Of The Ring
Race      Character
all_films                   01: Prologue01: Prologue01: Prologue01: Prolog...
Ainur     Gandalf           03: The Shire04: Very Old Friends05: A Long Ex...
Hobbit    Sam               05: A Long Expected Party09: At The Green Drag...
Men       Aragorn           15: At The Sign of the Prancing Pony16: The Na...
Hobbit    Frodo             03: The Shire05: A Long Expected Party07: Keep...
...                                                                       ...
Men       Eothain                                                           0
Orc       Mauhur                                                            0
Hobbit    Mrs. Bracegirdle                          05: A Long Expected Party
Men       Isildur                                    24: The Fate Of The Ring
Hobbit    Proudfoot                                 05: A Long Expected Party

                                                                               \
Film                                                   The Return Of The King
Race      Character
all_films                   01: The Finding Of The Ring01: The Finding Of ...
Ainur     Gandalf           03: The Road To Isengard04: The Voice Of Sarum...
Hobbit    Sam               02: Journey To The Cross-roads06: Gollum's Vil...
Men       Aragorn           04: The Voice Of Saruman05: Return To Edoras07...
Hobbit    Frodo             02: Journey To The Cross-roads06: Gollum's Vil...
...                                                                       ...
Men       Eothain                                                           0
Orc       Mauhur                                                            0
Hobbit    Mrs. Bracegirdle                                                  0
Men       Isildur                                                           0
Hobbit    Proudfoot                                                         0

                                                                               \
Film                                                           The Two Towers
Race      Character
all_films                   01: The Foundations Of Stone01: The Foundation...
Ainur     Gandalf           01: The Foundations Of Stone15: The White Ride...
Hobbit    Sam               01: The Foundations Of Stone02: Elven Rope03: ...
Men       Aragorn           05: The Three Hunters11: The Riders Of Rohan12...
Hobbit    Frodo             01: The Foundations Of Stone02: Elven Rope03: ...
...                                                                       ...
Men       Eothain                             06: The Burning of the Westfold
Orc       Mauhur                                             04: The Uruk-Hai
Hobbit    Mrs. Bracegirdle                                                  0
Men       Isildur                                                           0
Hobbit    Proudfoot                                                         0

                                                                               \
Film                                                                all_films
Race      Character
all_films                   01: Prologue01: Prologue01: Prologue01: Prolog...
Ainur     Gandalf           03: The Shire04: Very Old Friends05: A Long Ex...
Hobbit    Sam               05: A Long Expected Party09: At The Green Drag...
Men       Aragorn           15: At The Sign of the Prancing Pony16: The Na...
Hobbit    Frodo             03: The Shire05: A Long Expected Party07: Keep...
...                                                                       ...
Men       Eothain                             06: The Burning of the Westfold
Orc       Mauhur                                             04: The Uruk-Hai
Hobbit    Mrs. Bracegirdle                          05: A Long Expected Party
Men       Isildur                                    24: The Fate Of The Ring
Hobbit    Proudfoot                                 05: A Long Expected Party

                                                Words                         \
Film                       The Fellowship Of The Ring The Return Of The King
Race      Character
all_films                                       11225                   9575
Ainur     Gandalf                                2360                   1504
Hobbit    Sam                                     557                    924
Men       Aragorn                                 920                    580
Hobbit    Frodo                                   967                    650
...                                               ...                    ...
Men       Eothain                                   0                      0
Orc       Mauhur                                    0                      0
Hobbit    Mrs. Bracegirdle                          2                      0
Men       Isildur                                   1                      0
Hobbit    Proudfoot                                 1                      0


Film                       The Two Towers all_films
Race      Character
all_films                           11169     31969
Ainur     Gandalf                     964      4828
Hobbit    Sam                        1044      2525
Men       Aragorn                     822      2322
Hobbit    Frodo                       664      2281
...                                   ...       ...
Men       Eothain                       2         2
Orc       Mauhur                        2         2
Hobbit    Mrs. Bracegirdle              0         2
Men       Isildur                       0         1
Hobbit    Proudfoot                     0         1

[75 rows x 8 columns]

In [69]:
pivoted.index

MultiIndex([('all_films',                          ''),
            (    'Ainur',                   'Gandalf'),
            (   'Hobbit',                       'Sam'),
            (      'Men',                   'Aragorn'),
            (   'Hobbit',                     'Frodo'),
            (   'Hobbit',                     'Bilbo'),
            (      'Men',                   'Theoden'),
            (   'Gollum',                    'Gollum'),
            (    'Dwarf',                     'Gimli'),
            (   'Hobbit',                    'Pippin'),
            (      'Elf',                 'Galadriel'),
            (   'Hobbit',                     'Merry'),
            (    'Ainur',                   'Saruman'),
            (      'Men',                   'Boromir'),
            (      'Elf',                    'Elrond'),
            (      'Ent',                 'Treebeard'),
            (      'Men',                   'Faramir'),
            (      'Men',                  'Denethor'),
            (      'Elf',                   'Legolas'),
            (      'Men',                     'Eowyn'),
            (   'Gollum',                   'Smeagol'),
            (      'Elf',                     'Arwen'),
            (      'Men',                     'Eomer'),
            (      'Men',          'Grima Wormtongue'),
            (      'Orc',                       'Orc'),
            (      'Men',                'Gondor Man'),
            (      'Men',             'Rohan Warrior'),
            (      'Elf',                  'Celeborn'),
            (      'Men',                   'Gamling'),
            (      'Elf',                    'Haldir'),
            (      'Orc',                   'Gothmog'),
            (   'Hobbit',                   'Hobbits'),
            (      'Orc',                   'Shagrat'),
            (      'Orc',           'Mouth Of Sauron'),
            (      'Orc',                     'Ugluk'),
            (      'Men',                 'Innkeeper'),
            (      'Orc',                 'Grishnakh'),
            (   'Nazgul',                'Witch King'),
            (     'Dead',          'King Of The Dead'),
            (   'Hobbit',                       'Ted'),
            (      'Men',                      'Hama'),
            (      'Men',                    'Morwen'),
            (      'Men',                'Gatekeeper'),
            (      'Men',                    'Madril'),
            (    'Ainur',         'Voice Of The Ring'),
            (      'Men',                     'Freda'),
            (      'Men',              'Rohan Maiden'),
            (      'Orc',                    'Grobag'),
            (      'Men',                    'Haleth'),
            (   'Hobbit',             'Farmer Maggot'),
            (   'Hobbit',                    'Gaffer'),
            (      'Men',                    'Irolas'),
            (   'Hobbit',                  'Sandyman'),
            (      'Men',                       'Man'),
            (   'Hobbit',                    'Deagol'),
            (      'Orc',                  'Uruk-hai'),
            (      'Men',                  'Wild Man'),
            (   'Hobbit',               'Hobbit Kids'),
            (      'Orc',                     'Snaga'),
            (   'Hobbit', 'Lobelia Sackville-Baggins'),
            (      'Men',                  'Grimhold'),
            (    'Ainur',           'Voice Of Sauron'),
            (   'Nazgul',                    'Nazgul'),
            (      'Elf',                    'Figwit'),
            (      'Orc',                     'Lurtz'),
            (      'Men',                     'Boson'),
            (      'Men',                 'Mercenary'),
            (      'Men',                     'Crowd'),
            (   'Hobbit',                     'Rosie'),
            (      'Men',                    'Damrod'),
            (      'Men',                   'Eothain'),
            (      'Orc',                    'Mauhur'),
            (   'Hobbit',          'Mrs. Bracegirdle'),
            (      'Men',                   'Isildur'),
            (   'Hobbit',                 'Proudfoot')],
           names=['Race', 'Character'])

In [70]:
pivoted = pivoted.reindex(order, axis = 1)

In [71]:
pivoted

                                                Words                 \
Film                       The Fellowship Of The Ring The Two Towers
Race      Character
all_films                                       11225          11169
Ainur     Gandalf                                2360            964
Hobbit    Sam                                     557           1044
Men       Aragorn                                 920            822
Hobbit    Frodo                                   967            664
...                                               ...            ...
Men       Eothain                                   0              2
Orc       Mauhur                                    0              2
Hobbit    Mrs. Bracegirdle                          2              0
Men       Isildur                                   1              0
Hobbit    Proudfoot                                 1              0


Film                       The Return Of The King all_films
Race      Character
all_films                                    9575     31969
Ainur     Gandalf                            1504      4828
Hobbit    Sam                                 924      2525
Men       Aragorn                             580      2322
Hobbit    Frodo                               650      2281
...                                           ...       ...
Men       Eothain                               0         2
Orc       Mauhur                                0         2
Hobbit    Mrs. Bracegirdle                      0         2
Men       Isildur                               0         1
Hobbit    Proudfoot                             0         1

[75 rows x 4 columns]

In [72]:
pivoted.index

MultiIndex([('all_films',                          ''),
            (    'Ainur',                   'Gandalf'),
            (   'Hobbit',                       'Sam'),
            (      'Men',                   'Aragorn'),
            (   'Hobbit',                     'Frodo'),
            (   'Hobbit',                     'Bilbo'),
            (      'Men',                   'Theoden'),
            (   'Gollum',                    'Gollum'),
            (    'Dwarf',                     'Gimli'),
            (   'Hobbit',                    'Pippin'),
            (      'Elf',                 'Galadriel'),
            (   'Hobbit',                     'Merry'),
            (    'Ainur',                   'Saruman'),
            (      'Men',                   'Boromir'),
            (      'Elf',                    'Elrond'),
            (      'Ent',                 'Treebeard'),
            (      'Men',                   'Faramir'),
            (      'Men',                  'Denethor'),
            (      'Elf',                   'Legolas'),
            (      'Men',                     'Eowyn'),
            (   'Gollum',                   'Smeagol'),
            (      'Elf',                     'Arwen'),
            (      'Men',                     'Eomer'),
            (      'Men',          'Grima Wormtongue'),
            (      'Orc',                       'Orc'),
            (      'Men',                'Gondor Man'),
            (      'Men',             'Rohan Warrior'),
            (      'Elf',                  'Celeborn'),
            (      'Men',                   'Gamling'),
            (      'Elf',                    'Haldir'),
            (      'Orc',                   'Gothmog'),
            (   'Hobbit',                   'Hobbits'),
            (      'Orc',                   'Shagrat'),
            (      'Orc',           'Mouth Of Sauron'),
            (      'Orc',                     'Ugluk'),
            (      'Men',                 'Innkeeper'),
            (      'Orc',                 'Grishnakh'),
            (   'Nazgul',                'Witch King'),
            (     'Dead',          'King Of The Dead'),
            (   'Hobbit',                       'Ted'),
            (      'Men',                      'Hama'),
            (      'Men',                    'Morwen'),
            (      'Men',                'Gatekeeper'),
            (      'Men',                    'Madril'),
            (    'Ainur',         'Voice Of The Ring'),
            (      'Men',                     'Freda'),
            (      'Men',              'Rohan Maiden'),
            (      'Orc',                    'Grobag'),
            (      'Men',                    'Haleth'),
            (   'Hobbit',             'Farmer Maggot'),
            (   'Hobbit',                    'Gaffer'),
            (      'Men',                    'Irolas'),
            (   'Hobbit',                  'Sandyman'),
            (      'Men',                       'Man'),
            (   'Hobbit',                    'Deagol'),
            (      'Orc',                  'Uruk-hai'),
            (      'Men',                  'Wild Man'),
            (   'Hobbit',               'Hobbit Kids'),
            (      'Orc',                     'Snaga'),
            (   'Hobbit', 'Lobelia Sackville-Baggins'),
            (      'Men',                  'Grimhold'),
            (    'Ainur',           'Voice Of Sauron'),
            (   'Nazgul',                    'Nazgul'),
            (      'Elf',                    'Figwit'),
            (      'Orc',                     'Lurtz'),
            (      'Men',                     'Boson'),
            (      'Men',                 'Mercenary'),
            (      'Men',                     'Crowd'),
            (   'Hobbit',                     'Rosie'),
            (      'Men',                    'Damrod'),
            (      'Men',                   'Eothain'),
            (      'Orc',                    'Mauhur'),
            (   'Hobbit',          'Mrs. Bracegirdle'),
            (      'Men',                   'Isildur'),
            (   'Hobbit',                 'Proudfoot')],
           names=['Race', 'Character'])